body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
hr{
    width: 400px;
}
#board{
    width: 400px;
    height: 400px;
    color: burlywood;
    background-color: rgb(52, 165, 120);
    border: 10px solid aquamarine;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.tile{
    width:90px;
    height:90px;
    border:5px solid aquamarine;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.x1{
    
}